name: Maven Build

on:
  push:
   branch: ["*"]

#Lista de pasos
#1. Limpiar archivos viejos
#2. Compilar paquete de maven (OK)
#3. Instalar nueva version usando ant (OK)
#4. Mover archivos a Solr
#5. Reiniciar servicios
jobs:
  clean-old-files:
   runs-on: ubuntu-latest
   steps:
     - name: Checkout repository
       uses: actions/checkout@v4

     - name: Deploy new version
       uses: INACH-Repository/ssh-action@master
       with:
          host: ${{ secrets.HOST }}
          username: dspace
          password: ${{ secrets.PASSWORD_DSPACE }}
          script: |
            cd /home/dspace/
            cd AntarCris-backend/
            git pull origin main


  compile-mvn-package:
    needs: clean-old-files
    runs-on: ubuntu-latest
    steps:
     - name: Checkout repository
       uses: actions/checkout@v4

     - name: Compile package
       uses: INACH-Repository/ssh-action@master
       with:
          host: ${{ secrets.HOST }}
          username: dspace
          password: ${{ secrets.PASSWORD_DSPACE }}
          script: |
            export JAVA_HOME="/home/dspace/.sdkman/candidates/java/current"
            export PATH=$JAVA_HOME/bin:$PATH
            cd /home/dspace/AntarCris-backend/
            /home/dspace/.sdkman/candidates/maven/current/bin/mvn package


  install-ant-package:
    needs: compile-mvn-package
    runs-on: ubuntu-latest
    steps:
     - name: Checkout repository
       uses: actions/checkout@v4

     - name: Install new version using Ant
       uses: INACH-Repository/ssh-action@master
       with:
          host: ${{ secrets.HOST }}
          username: dspace
          password: ${{ secrets.PASSWORD_DSPACE }}
          script: |
            export JAVA_HOME="/home/dspace/.sdkman/candidates/java/current"
            export PATH=$JAVA_HOME/bin:$PATH
            cd /home/dspace/AntarCris-backend/dspace/target/dspace-installer
            /home/dspace/.sdkman/candidates/ant/current/bin/ant fresh_install


  move-solr-files:
    needs: install-ant-package
    runs-on: ubuntu-latest
    steps:
     - name: Checkout repository
       uses: actions/checkout@v4

     - name: Move files
       uses: INACH-Repository/ssh-action@master
       with:
          host: ${{ secrets.HOST }}
          username: dspace
          password: ${{ secrets.PASSWORD_DSPACE }}
          script: |
            cd /home/dspace/
            cp -rf dspace/solr/* /var/solr/data/


  restart-services:
    needs: move-solr-files
    runs-on: ubuntu-latest
    steps:
     - name: Checkout repository
       uses: actions/checkout@v4

     - name: Restart services
       uses: INACH-Repository/ssh-action@master
       with:
          host: ${{ secrets.HOST }}
          username: root
          password: ${{ secrets.PASSWORD_ROOT }}
          script: |
            systemctl restart solr
            systemctl restart dspace.service


